<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="GraphSection"
				 type="GraphicalDX.Configuration.GraphSection, GraphicalDX" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0"
						  sku=".NETFramework,Version=v4.5" />
	</startup>
	<GraphSection server="ftprnd.emh-metering.com"
				  port="21"
				  path=""
				  username="emh-pv-anlage"
				  password=".\7P2mg5Jaoow&quot;=E@f8+">
		<Graphs>
			<GraphElement key="test"
						  name="test"
						  interval="600"
						  path="Brackel"
						  filter="LP1" />
		</Graphs>
	</GraphSection>
</configuration>
